[Unit]
Description=exampleserver
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/username/exampleserver
ExecStart=/home/username/exampleserver/ExecStart.sh
ExecStop=/home/username/exampleserver/ExecStop.sh
Restart=on-failure
User=username
Sockets=exampleserver.socket
StandardInput=socket
StandardOutput=append:/home/username/exampleserver/latest.log
StandardError=journal
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
